body {
  background: url('../images/noise.png') #233140;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  color: #FFF;
}

.title {
  margin: 20px 0 10px 0;
  font-size: 50px;
  text-shadow: 0 5px #171F28;
}
.subtitle {
  margin: 0 0 20px 0;
  font-size: 25px;
  text-shadow: 0 3px #171F28;
}

.grid-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.grid-buttons button {
  margin: 0 20px;
  padding: 13px 5px;
  min-width: 110px;
  background-color: #E87502;
  color: #FFF;
  font-size: 20px;
  border: 2px solid #FFF;
  border-radius: 25px;
  box-shadow: 0 7px #171f28;
  cursor: pointer;
  outline: none;
  transition: all .2s ease;
}
.grid-buttons button:active {
  box-shadow: 0 4px #180C06;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
.grid-buttons button:focus {
  background-color: #C00C20;
}

.grid-container {
  display: inline-grid;
  background-color: #B4B4B4;
  gap: 1px;
}
.grid-container > div {
  background-color: #CCCCCC;
}
.grid-16x16 {
  grid-template-columns: repeat(16, auto);
}
.grid-16x16 > div {
  height: 31px;
  width: 31px;
}
.grid-32x32 {
  grid-template-columns: repeat(32, auto);
}
.grid-32x32 > div {
  height: 15px;
  width: 15px;
}
.grid-64x64 {
  grid-template-columns: repeat(64, auto);
}
.grid-64x64 > div {
  height: 7px;
  width: 7px;
}
